<h1>All restaurants</h1>

<h2>List of restaurants:</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
  <% end %>
</ul>

<hr>

<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>
